.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.card-row {
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  /* Shadow Card */
  box-shadow: 0px 0px 4px rgba(5, 5, 5, 0.08);
  border-radius: 8px;
  border: 1px solid #ffffff;
  margin-top: 250px;
}

.card-body.card-body-profile {
  width: 600px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

.user-img-profile {
  background-color: inherit;
  border: none;
}

h3 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.btn-danger {
  margin-top: 20px;
  background-color: #e50914 !important;
  font-family: Avenir 85 Heavy;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #ffffff !important;
  color: #e50914 !important;
}

.user-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fa-icon {
  font-size: 22px;
  color: #e50914;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  font-family: Avenir 85 Heavy;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

span {
  font-family: Avenir;
  font-size: 12px;
  line-height: 16px;
  color: #8a8c90;
}

@media (max-width: 1000px) {
}
