.transaction-table-wrapper {
  margin: 150px auto;
  width: 900px;
}

.transaction-table {
  border-radius: 10px;
  color: #ee4622;
}

.transaction-table-wrapper > h1 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 30px;
}

.transaction-table-data {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.dropdown-transaction {
  justify-content: center !important;
}

.dropdown-menu-transaction {
  width: 0 !important;
  left: -110px !important;
}

.btn-transaction {
  padding: 0;
  font-size: 30px;
  background-color: inherit;
  color: #1c9cd2;
  border: none;
}

.trans-filter-select {
  padding: 5px;
  border: 1px solid #ee4622 !important ;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: black;
  color: #ffffff;
}

@media (max-width: 768px) {
  .transaction-table-wrapper {
    margin: 100px auto;
    width: 600px;
  }

  .transaction-table-data {
    font-size: 12px;
  }
}
